{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Professor - Successfully Made Signup Code</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>signup code: {{ signup_code }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><a class="btn btn-outline-primary" href="{{ path('professorRegistrations') }}">Registrations List</a></p>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}