/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/jwt-keys
/var/jwt-keys/*
!var/jwt-keys/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
/web/assets/vendor/*
src/AppBundle/Database.php
*.php~

