{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome" style="text-align: center">
                <img src="{{ asset('resources/earth.gif') }}" style="">

            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
