<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            CLSP Dev - Forgot Password Reset Link
        </title>
    </head>

    <body>
        <p>Password reset link:</p>
        <a href="{{ reset_link }}">{{ reset_link }}</a>
        <p>This link will expire in 2 hours.</p>
    </body>
</html>